<header class="row g-4">

  <div class="col-12">
    <h1 class="display-3">{{name}}</h1>
  </div>

  <div class="col-6">
    <b>Born:</b>
    {{birthdate}},
    <address>{{birthplace}}</address>
  </div>

  <div class="col-6">
    <b>Died:</b>
    {{deathdate}}
    <address>{{deathplace}}</address>
  </div>

  <div class="col-6">
    <div>
      <b>Nationality:</b>
      {{nationality}}
    </div>
    <div class="my-3">
      <b>Occupation:</b>
      {{occupation}}
    </div>
  </div>

  <div class="col-6">
    <details>
      <summary><b>Known for:</b></summary>
      <ul>
        {{#each known_for}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </details>
  </div>

</header>
<hr />

<main>


  <section>
    {{> title data='Education' big=true }}
    {{#each education}}
    <div>
      {{institution}} ({{degree}}, {{year}})
    </div>
    <div>
      Field: {{field}}
    </div>
    {{/each}}
  </section>

  <section class="mt-4">
    {{> title data='Notable publications'}}
    <ul>
      {{#each notable_publications}}
      <li><cite>{{title}}</cite> ({{year}}, <small>{{publisher}}</small>)</li>

      {{/each}}
    </ul>
  </section>

  <hr>

  <section>
    {{> title data='Spouses' big=true }}
    {{#each partners}}
    <div class="my-3">
      {{name}}, ({{relationship}})
      <br>
      {{years}}

    </div>
    {{/each}}
  </section>

  <hr>

  <section>
    {{> title data='Awards' big=true }}
    {{#each awards}}
    <div class="m">
      <b>{{title}}</b> ({{year}})
      <br>
      <em>{{description}}</em>
    </div>
    {{/each}}
  </section>

  <hr>

  <section class="row g-4">
    {{> title data='Influence' big=true }}

    <div class="col-6">
      {{> title data='InfluenceS' }}
      {{#each influences}}
      <div>
        {{this}}
        <br>
      </div>
      {{/each}}
    </div>

    <div class="col-6">
      {{> title data='InfluenceD' }}
      {{#each influenced}}
      <div>
        {{this}}
        <br>
      </div>
      {{/each}}
    </div>

  </section>

  <hr>

  <section>
    <div class="mb-3">{{> title data='Quotes' big=true }}</div>


    {{#each quotes}}
    <div class="mt-2">
      <q>{{this}}</q>
    </div>
    {{/each}}

  </section>

  <hr>

  <section>
    <div class="mb-3">{{> title data='Major discoveries' big=true }}</div>
    {{#each major_discoveries}}
    <div>
      <b>{{title}}</b> ({{year}})
      <div class="mt-2"><em>{{description}}</em></div>
    </div>
    {{/each}}

  </section>

  <hr>

  <section>
    <div class="mb-3">{{> title data='Contributions' big=true }}</div>
    {{#with contributions}}
    <div>
      <b>{{title}}</b> ({{year}}) - {{field}}
      <div class="mt-3"><em>{{description}}</em></div>
    </div>
    {{/with}}
  </section>


</main>