<header>
  <h1><span class='badge bg-primary mb-5'>{{name}}</span></h1>
</header>

<main>

  {{#each users}}

  <div class="list-group list-group">

    <div class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">
          <h2>{{name}}, {{age}} y.o <span class='badge bg-secondary'>{{gender}}</span></h2>
        </div>

        <table>
          <tr>
            <td>
              <div class="list-group mx-5">

                <div class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                      <h3><span class='badge bg-primary'>Friends</span></h3>
                    </div>
                  </div>
                </div>

                {{#each friends}}
                <div class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                      <h4>{{name}} {{age}} y.o <span class='badge bg-secondary'>{{gender}}</span></h4>
                    </div>
                    <table>
                      <tr>
                        <td>
                          <div><b>Mutual friends:</b></div>

                          {{#each mutual_friends}}

                          <div class="list-group-item d-flex justify-content-between align-items-start mx-5 my-2">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">
                              </div>
                              <div>
                                {{name}} {{age}} y.o
                                <span class='badge bg-secondary'>{{gender}}</span>
                              </div>
                              {{#if mutual_friends}}
                              <div class="mt-3"><small>Mutual friends</small></div>

                              {{#each mutual_friends}}
                              <div>

                                <small>
                                  {{name}} {{age}} y.o
                                  <span class='badge bg-secondary'>{{gender}}</span>
                                  <span class="badge bg-primary rounded-pill">{{id}}</span>
                                </small>

                              </div>
                              {{/each}}
                              {{/if}}

                            </div>
                            <span class="badge bg-primary rounded-pill">{{id}}</span>
                          </div>


                          {{/each}}
                        </td>
                        <td>
                          {{#if groups}}
                          <div><b>Groups:</b></div>

                          {{#each groups}}
                          <div class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                              <div class="fw-bold">
                                <h5>{{name}}<span class='badge bg-secondary'></span></h5>

                              </div>
                              <div>{{description}}</div>

                              <div class="mt-4"><b>Members:</b></div>

                              {{#each members}}
                              <div>
                                {{name}} {{age}} y.o
                                <span class='badge bg-secondary'>{{gender}}</span>
                                <span class="badge bg-primary rounded-pill">{{id}}</span>
                              </div>
                              {{/each}}

                            </div>
                            <span class="badge bg-primary rounded-pill">{{id}}</span>
                          </div>
                          {{/each}}
                        </td>

                        {{/if}}
                      </tr>
                    </table>

                  </div>
                  <span class="badge bg-primary rounded-pill">{{id}}</span>
                </div>
                {{/each}}

              </div>
            </td>
            {{#if groups}}
            <td>
              <div class="list-group">

                <div class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                      <h3><span class='badge bg-primary'>Groups</span></h3>
                    </div>
                  </div>
                </div>

                {{#each groups}}
                <div class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                      <h5>{{name}}<span class='badge bg-secondary'></span></h5>

                    </div>
                    <div>{{description}}</div>

                    <div class="mt-4"><b>Members:</b></div>

                    {{#each members}}
                    <div>
                      {{name}} {{age}} y.o
                      <span class='badge bg-secondary'>{{gender}}</span>
                      <span class="badge bg-primary rounded-pill">{{id}}</span>
                    </div>
                    {{/each}}

                  </div>
                  <span class="badge bg-primary rounded-pill">{{id}}</span>
                </div>
                {{/each}}

              </div>
            </td>

            {{/if}}

          </tr>
        </table>
      </div>
      <span class="badge bg-primary rounded-pill">{{id}}</span>
    </div>
  </div>

  {{/each}}

</main>