<header>
  {{#with page_header}}
  <h1 class="text-center mb-3">{{title}}</h1>

  <p class="text-center text-uppercase">{{description}}</p>
  {{/with}}
</header>

<main>
  {{#with section}}
  <section class="card">
    {{#with about_us}}
    <div class="card-body">
      {{#with title_list}}
      <div class="display-6 text-end">{{main}}</div>

      <h2 class='text-end my-3'>{{sub}}</h2>

      <button class="btn btn-outline-info">{{../button.text}}</button>
      {{/with}}
    </div>
    {{/with}}
  </section>

  <section class="card my-5">
    {{#with advantage}}
    <div class="card-body">
      <div class="display-5 mb-4">{{title}}</div>

      <div class="card">
        <div class="card-body">
          {{#with efficiency}}
          <div class="display-4 text-lowercase">{{title}}</div>

          <h6 class="my-4">{{sub_title}}</h6>

          <p class="mb-3">{{description}}</p>

          <button class="btn btn-outline-warning">{{button}}</button>
          {{/with}}
        </div>
      </div>

      <div class="card my-5">
        <div class="card-body">
          {{#with innovation}}
          <div class="display-4 text-lowercase text-center">{{title}}</div>

          <h6 class="text-center my-4">{{sub_title}}</h6>

          <p class="text-center mb-3">{{description}}</p>

          <button class="btn btn-outline-warning">{{button}}</button>
          {{/with}}
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          {{#with collaboration}}
          <div class="display-4 text-lowercase text-end">{{title}}</div>

          <h6 class="text-end my-4">{{sub_title}}</h6>

          <p class="text-end mb-3">{{description}}</p>

          <button class="btn btn-outline-warning">{{button}}</button>
          {{/with}}
        </div>
      </div>
    </div>
    {{/with}}
  </section>

  <section class="card">
    {{#with agreement}}
    <div ckass="card-body">
      <div class="display-5 text-lowercase px-5 py-4">{{title}}</div>

      <div class="card">
        {{#with info}}
        <div class="card-body">
          <h5 class="mb-3">{{sub_title}}</h5>

          <div class="card">
            {{#with detail}}
            <div class="card-body">
              <p>{{text}}</p>
              <button class="btn btn-success">{{button}}</button>
            </div>
            {{/with}}
          </div>
        </div>
        {{/with}}
      </div>
    </div>
    {{/with}}
  </section>
  {{/with}}
</main>